* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: black;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  --base-item-size: 56px;
  block-size: var(--base-item-size);

  display: flex;
  justify-content: center;
  align-items: flex-end;

  list-style: none;
  background-color: rgba(154, 212, 194, 0.3);
}

/** STEP 0: NO SINUSOID */
/*
li {
  --item-padding: 10px;
  block-size: var(--base-item-size);
}

li img {
  block-size: 100%;
  padding: var(--item-padding);
}
*/

/** STEP 1: SET SINUSOID */
li {
  --item-padding: 10px;
  --grow: calc((cos(var(--item-angle, 180deg)) + 1) / 2 + 1);
  --item-size: calc(var(--base-item-size) * var(--grow, 1));

  block-size: var(--item-size);
}

li img {
  block-size: 100%;
  padding: var(--item-padding);
}

/** STEP 4: FLUID DYNAMIC SINUSOID */
/*
li {
  --item-padding: 10px;
  --fluid-angle: calc(var(--item-angle, 180deg) - 45deg * var(--pX, 0));
  --clamp-angle: clamp(-180deg, var(--fluid-angle), 180deg);
  --grow: calc((cos(var(--clamp-angle)) + 1) / 2 + 1);
  --item-size: calc(var(--base-item-size) * var(--grow, 1));

  block-size: var(--item-size);
  transition: 20ms;
}

li img {
  block-size: 100%;
  padding: var(--item-padding);
}
*/

/** STEP 2: STATIC SPINUSOID */
/*
li:nth-of-type(3) {
  --item-angle: -180deg;
}

li:nth-of-type(4) {
  --item-angle: -135deg;
}

li:nth-of-type(5) {
  --item-angle: -90deg;
}

li:nth-of-type(6) {
  --item-angle: -45deg;
}

li:nth-of-type(7) {
  --item-angle: 0deg;
}

li:nth-of-type(8) {
  --item-angle: 45deg;
}

li:nth-of-type(9) {
  --item-angle: 90deg;
}

li:nth-of-type(10) {
  --item-angle: 135deg;
}

li:nth-of-type(11) {
  --item-angle: 180deg;
}
*/

/** STEP 3: DYNAMIC SPINUSOID ON HOVER */
li:has(+ li + li + li + li:hover) {
  --item-angle: -180deg;
}

li:has(+ li + li + li:hover) {
  --item-angle: -135deg;
}

li:has(+ li + li:hover) {
  --item-angle: -90deg;
}

li:has(+ li:hover) {
  --item-angle: -45deg;
}

li:hover {
  --item-angle: 0deg;
}

li:hover + li {
  --item-angle: 45deg;
}

li:hover + li + li {
  --item-angle: 90deg;
}

li:hover + li + li + li {
  --item-angle: 135deg;
}

li:hover + li + li + li + li {
  --item-angle: 180deg;
}
